@font-face {
	font-family: GothamPro;
	src: url(../fonts/Gotham_Pro.ttf);
}
body {
	font-family: GothamPro, sans-serif;
}
h1 {
	text-transform: uppercase;
	padding-top: 80px;
	font-size: 50px;
	line-height: 70px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 46px;
}
h3 {
	text-align: center;
	font-size: 40px;
}
@media (max-width: 575px) {
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 30px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1390px;
	}
}
section:not(.container) {
	padding-left: 15px;
	padding-right: 15px;
}
.up {
	border: 1px solid #ffad39;
	background-color: #ffad39;
	font-size: 26px;
	line-height: 26px;
	width: 40px;
	height: 40px;
	padding: 5px;
	opacity: 0;
	position: fixed;
	z-index: 1;
	right: 25px;
	bottom: 25px;
	cursor: pointer;
	text-align: center;
	transition: .5s;
}
.btn-yellow,
.btn-consult {
	display: block;
	outline: none !important;
	text-transform: uppercase;
	text-align: center;
	color: black;
	padding: 12px;
	border-radius: 5px;
	transition: .3s;
	cursor: pointer;
}
.btn-yellow {
	background-color: #ffad39;
	border: none;
	font-size: 20px;
}
.btn-consult {
	background-color: transparent;
	max-width: 300px;
	border: 1px solid black;
	margin: 60px auto 15px;
}
.btn-yellow:hover,
.btn-consult:hover {
	background-color: rgba(255, 173, 57, .8);
	border-color: transparent;
}
header {
	background-image: url('../img/header-fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
	color: white;
	padding: 20px 0 120px;
}
.top-logo {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 10px;
}
.top-phone a {
	font-size: 32px;
	line-height: 42px;
	color: white;
	text-decoration: none;
}
.top-phone a span {
	letter-spacing: 0.4px;
}
.top-call .btn-yellow {
	width: 290px;
	align-self: center;
}
.top-ul {
	padding: 0 25px;
	margin: 0;
	font-size: 28px;
	list-style: none;
}
.top-ul li {
	position: relative;
	padding-left: 10px;
}
.top-ul li:before {
	content: '•';
	position: absolute;
	left: -20px;
	top: -5px;
	color: #ffad39;
	font-size: 36px;
}
.top-price {
	max-width: 400px;
	margin-top: 70px;
}
@media (max-width: 991px) {
	h1 {
		padding-top: 20px;
	}
	.top-price {
		margin: 50px auto 0;
		max-width: 290px;
	}
}
@media (max-width: 767px) {
	header {
		padding-bottom: 50px;
	}
	.top-phone a {
		font-size: 22px;
		line-height: 30px;
	}
	.top-phone a span {
		letter-spacing: 0.25px;
	}
	h1 {
		font-size: 36px;
		line-height: 50px;
	}
}
@media (max-width: 575px) {
	.top-ul {
		font-size: 20px;
	}
	.top-ul li:before {
		left: -20px;
		top: -5px;
		font-size: 26px;
	}
}

.icon-item {
	padding: 10px;
	height: 120px;
	display: flex !important;
	flex-direction: column;
	align-items: center;
}
.icon-item img {
	max-width: 100%;
	max-height: 80px;
	transition: .3s;
}
.icon-item img:hover {
	filter: grayscale(100%);
}
.icon-item .rotate-top {
	transform: rotate(20deg);
}
.icon-item .rotate-bottom {
	transform: rotate(-35deg);
}
.icon-item span {
	font-size: 13px;
	margin-top: auto;
	position: relative;
}

.calculate {
	background-color: #f4f4f4;
	padding: 100px 0;
}
.calculate h2 {
	text-transform: none;
	text-align: left;
}

.remont {
	padding-top: 60px;
	padding-bottom: 50px;
	opacity: 0;
	transition: 2s;
}
.remont h3 {
	margin-top: 50px;
}
.top-pics > div {
	text-align: center;
	font-size: 13px;
}
.top-pics img {
	padding: 15px 35px 0;
}
.bottom-pics > div {
	padding: 8px;
	position: relative;
}
.bottom-pics span {
	position: absolute;
	z-index: 1;
	color: white;
	background-color: black;
	bottom: 15px;
	font-size: 14px;
	left: 10%;
	right: 10%;
	margin: auto;
	text-align: center;
}
.bottom-pics img {
	width: 100%;
}
.divider {
	border-bottom: 1px solid silver;
}

.zapchasti {
	background: linear-gradient(to bottom, #f4f4f4 68%, transparent 68%, transparent 100%);
}
.zapchasti h2 {
	text-transform: none;
}
.bottom-icons {
	max-width: 1300px;
}

.vybor img {
	width: 100%;
}
.vybor [class^="col"] {
	position: relative;
}
.vybor-icon {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 70px;
	height: 70px;
	background-color: #ffad39;
	border-radius: 5px;
	padding: 5px;
}
.vybor-text {
	text-align: center;
	font-size: 22px;
	padding: 20px 0 0;
}

.four-steps {
	background-color: #f4f4f4;
	position: relative;
}
.four-steps h2 {
	text-transform: none;
}
.steps-wrap {
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}
.steps-wrap .master {
	position: absolute;
	bottom: 0;
	left: -65%;
}
.steps-wrap [class^="col"] {
	display: flex;
	align-items: center;
	padding: 40px 15px;
}
.step-pic {
	width: 48px;
	flex-shrink: 0;
	text-align: center;
	margin-right: 15px;
}
@media (max-width: 1199px) {
	.steps-wrap .master {
		position: static;
		margin: auto;
		max-width: 100%;
	}
}
@media (max-width: 575px) {
	.four-steps h2 {
		margin-bottom: 25px;
	}
	.steps-wrap [class^="col"] {
		padding: 5px 15px;
	}
}

.partners .slick-prev:before,
.partners .slick-next:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	transform: rotate(45deg)
}
.partners .slick-prev:before {
	border-bottom: 5px solid gray;
	border-left: 5px solid gray;
}
.partners .slick-next:before {
	border-top: 5px solid gray;
	border-right: 5px solid gray;
}
.part-items {
	margin: 50px 20px;
}
.part-items img {
	transition: .3s;
	filter: grayscale(100%);
	display: block;
	margin: 0 auto;
	padding: 15px 60px;
}
.part-items img:hover {
	filter: grayscale(0%);
}
@media (max-width: 767px) {
	.part-items img {
		padding: 10px 20px;
	}
}

.questions {
	background-image: url('../img/voprosy-fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 40px;
	padding-bottom: 50px;
}
.questions h5 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.questions [class^="col"] {
	padding: 10px 20px;
}
.questions [type="submit"],
.questions [type="text"] {
	text-align: center;
	height: 50px;
}
.questions [type="submit"] {
	background-color: #ffad39;
	transition: .3s;
	border: none;
	color: black;
}
.questions [type="submit"]:hover {
	background-color: rgba(255, 173, 57, .8);
}

.map {
	display: block;
	height: 400px;
	background-image: url('../img/map.jpg');
	background-size: cover;
	background-position: 50% 50%;
	filter: grayscale(100%);
}

footer {
	background-color: #29292b;
	color: white;
}
.bottom-logo,
.bottom-phone {
	position: relative;
}
.bottom-logo:after,
.bottom-phone:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #4a4a4a;
	bottom: 0;
}
.bottom-logo:after {
	width: 210px;
	left: 16px;
}
.bottom-phone:after {
	left: 15%;
	right: 15%;
}
.bottom-logo {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 10px;
}
.bottom-mail {
	color: #ffad39 !important;
}
.bottom-phone a {
	font-size: 32px;
	line-height: 42px;
	color: white;
	text-decoration: none;
}
.bottom-phone a span {
	letter-spacing: 0.4px;
}
.bottom-call.btn-yellow {
	width: 290px;
	align-self: flex-start;
}
.copy {
	text-align: center;
	padding: 15px 0;
	background-color: #3e3e3f;
	color: white;
	margin: 0;
}
@media (max-width: 1199px) {
	.bottom-phone a {
		font-size: 22px;
		line-height: 30px;
	}
	.bottom-phone a span {
		letter-spacing: 0.25px;
	}
	.bottom-call.btn-yellow {
		padding: 8px 0;
		font-size: 18px;
		width: 250px;
	}
}
@media (max-width: 767px) {
	.bottom-logo:after,
	.bottom-phone:after {
		display: none;
	}
}

#remservice .modal-content {
	background-color: #f4f4f4;
}
#remservice [type="text"],
#remservice [type="submit"] {
	height: 50px;
}
#remservice [type="submit"] {
	background-color: #ffad39;
	transition: .3s;
	border: none;
	color: black;
}
#remservice [type="submit"]:hover {
	background-color: rgba(255, 173, 57, .8);
}


#rem-quiz .step-count {
	text-align: right;
	padding: 4px 145px 0 0;
}
#rem-quiz .carousel-indicators {
	top: 10px;
	left: auto;
	bottom: auto;
	width: 140px;
	margin: 0;
}
#rem-quiz .carousel-indicators li {
	height: 10px;
	width: 10px;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 0 5px;
	transition: .2s;
	position: relative;
}
#rem-quiz .carousel-indicators li:not(:first-child):before {
	content: '';
	display: block;
	width: 10px;
	position: absolute;
	border-bottom: 1px solid gray;
	top: 49%;
	left: -11px;
}
#rem-quiz .carousel-indicators li.active {
	transform: translateY(-3.5px);
	width: 16px;
	height: 16px;
	background-color: #ffad39;
	border-color: #ffad39;
}
#rem-quiz .carousel-item {
	background-color: #eaeaea;
	padding: 20px 15px;
}
#rem-quiz .carousel-item [type="text"],
#rem-quiz .carousel-item [type="tel"] {
	border: none;
	height: 50px;
	text-align: center;
}
#rem-quiz .carousel-item .btn-yellow {
	width: 100%;
	height: 50px;
}
#rem-quiz .quiz-title {
	font-weight: bold;
}